---
layout: portfolio-grid
title: B. Portfolio
permalink: "/portfolio/"
lang: en
ref: portfolio
description: "A few work samples."
---
{% assign works = site.portfolio | where: "lang", "en" %}
    <section class="thumbnails container">
      <h1>Portfolio</h1>
      <ul class="filters">
        <li><span class="tag selected-filter" data-filter="all">all</span></li>
        <li><span class="tag" data-filter=".motion">motion</span></li>
        <li><span class="tag" data-filter=".interactive">interactive</span></li>
        <li><span class="tag" data-filter=".identity">identity</span></li>
        <li><span class="tag" data-filter=".infographic">infographic</span></li>
        <li><span class="tag" data-filter=".visual">visual design</span></li>
      </ul>
      {% for work in works %}
      <section class="thumb-box mix {% for cat in work.category %}{{ cat }} {% endfor %}">
        <span class="thumb-img">
          <a href="{{ work.url }}">
            <img src="/img/portfolio/{{ work.tile_image }}">
          </a>
        </span>
        <span class="thumb-caption">{{ work.title }}</span>
      </section>
      {% endfor %}
    </section>
