    <nav id="overlay-bg" class="hidden noscroll unselectable" aria-hidden="true">
      <ul class="menu unselectable">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/about/" title="About">About</a></li>
        <li><a href="/portfolio/" title="Portfolio">Portfolio</a></li>
        <li><a href="/blog/" title="Blog">Blog</a></li>
        <li><a href="/contact/" title="Contact">Contact</a></li>
      </ul>
      <ul class="social-links">
        <li>
          <a href="https://www.linkedin.com/in/bumhan" title="LinkedIn" target="_blank">
          <img src="/img/linkedin.svg" alt="LinkedIn" title="LinkedIn"></a>
        </li>
        <li>
          <a href="https://twitter.com/baadaa" title="Twitter" target="_blank">
          <img src="/img/twitter.svg" alt="Twitter" title="Twitter"></a>
        </li>
        <li>
          <a href="https://www.pinterest.com/baadaa/" title="Pinterest" target="_blank">
          <img src="/img/pinterest.svg" alt="Pinterest" title="Pinterest"></a>
        </li>
        <li>
          <a href="https://vimeo.com/baadaa" title="Vimeo" target="_blank">
          <img src="/img/vimeo.svg" alt="Vimeo" title="Vimeo"></a>
        </li>
        <li>
          <a href="https://baadaa.github.io/" title="GitHub" target="_blank">
          <img src="/img/github.svg" alt="GitHub" title="GitHub"></a>
        </li>
      </ul>
      <ul class="langs">
        <li class="eng"><a href="#" title="English">English</a></li>
        <li class="ko"><a href="#" title="Korean">한글</a></li>
      </ul>
    </nav>
