    <nav id="overlay-bg" class="hidden noscroll unselectable" aria-hidden="true">
      <ul class="menu unselectable">
        <li><a href="{{ prefix }}" title="Home">{{ site.nav['home'][page.lang] }}</a></li>
        <li><a href="{{ prefix }}about/" title="About">{{ site.nav['about'][page.lang] }}</a></li>
        <li><a href="{{ prefix }}portfolio/" title="Portfolio">{{ site.nav['portfolio'][page.lang] }}</a></li>
        <li><a href="{{ prefix }}blog/" title="Blog">{{ site.nav['blog'][page.lang] }}</a></li>
        <li><a href="{{ prefix }}contact/" title="Contact">{{ site.nav['contact'][page.lang] }}</a></li>
      </ul>
        <ul class="social-links">
        <li>
          <a href="https://www.linkedin.com/in/bumhan" title="LinkedIn" target="_blank">
          <img src="/img/linkedin.svg" alt="LinkedIn" title="LinkedIn"></a>
        </li>
        <li>
          <a href="https://twitter.com/baadaa" title="Twitter" target="_blank">
          <img src="/img/twitter.svg" alt="Twitter" title="Twitter"></a>
        </li>
        <li>
          <a href="https://www.pinterest.com/baadaa/" title="Pinterest" target="_blank">
          <img src="/img/pinterest.svg" alt="Pinterest" title="Pinterest"></a>
        </li>
        <li>
          <a href="https://vimeo.com/baadaa" title="Vimeo" target="_blank">
          <img src="/img/vimeo.svg" alt="Vimeo" title="Vimeo"></a>
        </li>
        <li>
          <a href="https://baadaa.github.io/" title="GitHub" target="_blank">
          <img src="/img/github.svg" alt="GitHub" title="GitHub"></a>
        </li>
      </ul>
      <ul class="langs">
        {% for postTrans in postsTrans %}
          {% if postTrans.lang == "en" %}
            {% assign ln = "English" %}
              {% else %} {% assign ln = "한글" %}
          {% endif %}
          <li class="{{ postTrans.lang }}">
            <a href="{{ postTrans.url }}" title="{{ ln }}">
              {% if postTrans.lang == page.lang %}<b>{{ ln }}</b>
                {% else %}{{ ln }} {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
