{% include head.html %}
{% include nav.html %}

    <article class="blog-entry">
      <section class="blog-header" style="background-image: url('/img/blog/{{ page.header_image }}'); background-color: {{ page.bg_color }}">
        <div class="title-container">
          <span class="breadcrumb"><a style="color: {{ page.header_color }}"
            {% if page.lang == "en" %} href="/blog/">Blog
            {% else %} href="/k/blog/">블로그{% endif %}
            </a></span>
          <h1 style="color: {{ page.header_color }}">{{ page.title }}</h1>
          <p class="post-date" style="color: {{ page.header_color }}"><time datetime="{{ page.date }}">
            {% if page.lang == "en" %}{{ page.date | date: "%B %-d, %Y" }}
            {% else %}{{ page.date | date: "%Y년 %-m월 %-d일" }}{% endif %}
          </time></p>
        </div>
      </section>
      <section class="blog-body">
        <section class="category">
          {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </section>

        {{ content }}

        {% include post_nav.html %}

      </section>
    </article>

{% include footer.html %}
